@color: #059c32;
@hoverColor: #37ae5b;
@bgColor-grey: #f1f1f1;  // 灰色背景
@bgColor-white: #fff;  // 白色背景

@border-color: #d8d8d8;
@border-grey: #e8e8e8;

@text-white: #fff;
@textColor: #333;
@text-grey: #666;
@text-desc: #999;
@textPrimary: #40a9ff;

@hover: #f60;
@orange: #f79e00;
@error: #ff4d4f;